{
    "openapi": "3.1.0",
    "info": {
        "version": "1.1.66",
        "title": "Event Service API",
        "description": "Adobe Events Service"
    },
    "servers": [
        {
            "url": "https://events-service-platform.adobe.io/{version}",
            "description": "Prod service",
            "variables": {
                "version": {
                    "enum": [
                        "v1"
                    ],
                    "default": "v1"
                }
            }
        },
        {
            "url": "https://events-service-platform-stage.adobe.io/{version}",
            "description": "Stage service",
            "variables": {
                "version": {
                    "enum": [
                        "v1"
                    ],
                    "default": "v1"
                }
            }
        },
        {
            "url": "https://wcms-events-service-platform-deploy-ethos102-stage-caff5f.stage.cloud.adobe.io/{version}",
            "description": "Dev service",
            "variables": {
                "version": {
                    "enum": [
                        "v1"
                    ],
                    "default": "v1"
                }
            }
        },
        {
            "url": "http://localhost:{port}/{version}",
            "description": "Local service",
            "variables": {
                "port": {
                    "default": "8500"
                },
                "version": {
                    "enum": [
                        "v1"
                    ],
                    "default": "v1"
                }
            }
        }
    ],
    "paths": {
        "/ping": {
            "get": {
                "summary": "Returns pong when called",
                "operationId": "ping",
                "security": [],
                "responses": {
                    "200": {
                        "description": "pong",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pong"
                                },
                                "example": "pong"
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/locales": {
            "get": {
                "summary": "Get a list of valid locales and their spelled out names",
                "operationId": "getLocales",
                "responses": {
                    "200": {
                        "description": "A list of locales",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocaleNamesList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clouds": {
            "post": {
                "summary": "Create a cloud",
                "operationId": "createCloud",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CloudCreateBody"
                },
                "responses": {
                    "201": {
                        "description": "A newly created cloud object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cloud"
                                }
                            }
                        }
                    },
                    "303": {
                        "description": "An existing cloud object",
                        "headers": {
                            "Location": {
                                "description": "Url to an existing resource",
                                "schema": {
                                    "$ref": "#/components/schemas/Link"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cloud"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed Cloud object payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "parameters": [
                    {
                        "name": "cloudName",
                        "description": "The name of a cloud",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/CloudName"
                        }
                    }
                ],
                "summary": "List of clouds",
                "operationId": "listClouds",
                "responses": {
                    "200": {
                        "description": "A cloud object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CloudList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clouds/{cloudType}": {
            "parameters": [
                {
                    "name": "cloudType",
                    "description": "The id of the cloud",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/CloudType"
                    }
                }
            ],
            "get": {
                "summary": "Get a cloud",
                "operationId": "getCloudByType",
                "responses": {
                    "200": {
                        "description": "The cloud corresponding to the provided `cloudType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cloud"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No cloud found for the provided `cloudType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a cloud",
                "operationId": "updateCloudByType",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CloudUpdateBody"
                },
                "responses": {
                    "200": {
                        "description": "Updated cloud corresponding to the provided `cloudType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cloud"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed cloud update payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No cloud found for the provided `cloudType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The cloud data is out of date. Re-fetch the cloud and try the update again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a cloud",
                "operationId": "deleteCloudByType",
                "responses": {
                    "204": {
                        "description": "Cloud successfully deleted"
                    },
                    "404": {
                        "description": "No cloud found for the provided `cloudType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/speakers/{speakerId}/events": {
            "parameters": [
                {
                    "name": "speakerId",
                    "description": "The id of a speaker",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpeakerId"
                    }
                }
            ],
            "get": {
                "summary": "Get `Events` by `speakerId`",
                "operationId": "getEventsBySpeakerId",
                "responses": {
                    "200": {
                        "description": "A list of events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sponsors/{sponsorId}/events": {
            "parameters": [
                {
                    "name": "sponsorId",
                    "description": "The id of a sponsor",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SponsorId"
                    }
                }
            ],
            "get": {
                "summary": "Get `Events` by `sponsorId`",
                "operationId": "getEventsBySponsorId",
                "responses": {
                    "200": {
                        "description": "A list of events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `sponsorId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series": {
            "post": {
                "summary": "Create an event series",
                "operationId": "createEventSeries",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SeriesCreateBody"
                },
                "responses": {
                    "201": {
                        "description": "A newly created series object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                }
                            }
                        }
                    },
                    "303": {
                        "description": "A newly created series object",
                        "headers": {
                            "Location": {
                                "description": "Url to an existing resource",
                                "schema": {
                                    "$ref": "#/components/schemas/Link"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed Series object payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "parameters": [
                    {
                        "name": "seriesName",
                        "description": "The name of the series",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesName"
                        }
                    },
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    }
                ],
                "summary": "List of event series",
                "operationId": "listEventSeries",
                "responses": {
                    "200": {
                        "description": "A newly created series object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SeriesList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                }
            ],
            "get": {
                "summary": "Get a series",
                "operationId": "getEventSeriesById",
                "responses": {
                    "200": {
                        "description": "The series corresponding to the provided `seriesId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No series found for the provided `seriesId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a series",
                "operationId": "updateEventSeriesById",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SeriesUpdateBody"
                },
                "responses": {
                    "200": {
                        "description": "Updated series data corresponding to the provided `seriesId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed series update payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No series found for the provided `seriesId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The series data is out of date. Re-fetch the series and try the update again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete an event series",
                "operationId": "deleteEventSeriesById",
                "responses": {
                    "204": {
                        "description": "Event Series successfully deleted"
                    },
                    "403": {
                        "description": "Non-prod environments must use a service token to delete a series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No series found for the provided `seriesId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/history": {
            "get": {
                "summary": "Get all history items for a series",
                "operationId": "getSeriesHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of history items for the series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Series history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/history/initial": {
            "get": {
                "summary": "Get the initial history item for a series",
                "operationId": "getSeriesInitialHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The initial history item for the series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Initial series history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/history/latest": {
            "get": {
                "summary": "Get the latest history item for a series",
                "operationId": "getSeriesLatestHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The latest history item for the series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Latest series history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/history/{timestamp}": {
            "get": {
                "summary": "Get a specific history item for a series by timestamp",
                "operationId": "getSeriesHistoryByTimestamp",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TimeMillis"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specific history item for the series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Series history item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/publishing-profiles": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The unique identifier of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                }
            ],
            "post": {
                "summary": "Assign a publishing profile to a series",
                "operationId": "assignSeriesPublishingProfile",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SeriesPublishingProfileCreateBody"
                },
                "responses": {
                    "201": {
                        "description": "Publishing profile successfully assigned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SeriesPublishingProfile"
                                }
                            }
                        }
                    },
                    "303": {
                        "description": "Publishing profile already assigned",
                        "headers": {
                            "Location": {
                                "description": "URL to the existing publishing profile relationship",
                                "schema": {
                                    "$ref": "#/components/schemas/Link"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Series or publishing profile not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Get the publishing profile assigned to a series with full profile details",
                "operationId": "getSeriesPublishingProfile",
                "responses": {
                    "200": {
                        "description": "The publishing profile relationship including full profile details (name, description, settings, etc.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SeriesPublishingProfile"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Publishing profile not found for this series",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update the publishing profile assignment for a series",
                "operationId": "updateSeriesPublishingProfile",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SeriesPublishingProfileUpdateBody"
                },
                "responses": {
                    "200": {
                        "description": "Publishing profile successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SeriesPublishingProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Publishing profile assignment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Publishing profile update invalid, series has been modified since last fetch",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Remove the publishing profile assignment from a series",
                "operationId": "removeSeriesPublishingProfile",
                "responses": {
                    "204": {
                        "description": "Publishing profile successfully removed"
                    },
                    "404": {
                        "description": "Publishing profile assignment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                }
            ],
            "post": {
                "summary": "Create a speaker",
                "operationId": "createSpeaker",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SpeakerCreateBody"
                },
                "responses": {
                    "201": {
                        "description": "The new Speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed `BaseSpeaker` object payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "SeriesId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List of speakers, optionally matching various query params",
                "operationId": "listSpeakers",
                "parameters": [
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    },
                    {
                        "name": "firstName",
                        "description": "The first name of the speaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerFirstName"
                        }
                    },
                    {
                        "name": "lastName",
                        "description": "The first name of the speaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerLastName"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of speakers, optionally matching various query params",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SpeakerList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No speakers found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                },
                {
                    "name": "speakerId",
                    "description": "The id of a speaker",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpeakerId"
                    }
                }
            ],
            "get": {
                "summary": "Get a specific `Speaker` by `speakerId`",
                "operationId": "getSpeakerById",
                "responses": {
                    "200": {
                        "description": "Speaker that matched the `speakerId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a specific `Speaker` specified by `speakerId`",
                "operationId": "updateSpeakerById",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SpeakerUpdateBody"
                },
                "responses": {
                    "200": {
                        "description": "Speaker that matched the `speakerId` was updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The speaker data is out of date. Re-fetch the speaker and try the update again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific `Speaker` specified by `speakerId`",
                "operationId": "deleteSpeakerById",
                "responses": {
                    "204": {
                        "description": "Speaker was deleted"
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/history": {
            "get": {
                "summary": "Get all history items for a speaker",
                "operationId": "getSpeakerHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "speakerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerId"
                        }
                    },
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of history items for the speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Speaker history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/history/initial": {
            "get": {
                "summary": "Get the initial history item for a series",
                "operationId": "getSpeakerInitialHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "speakerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The initial history item for the speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Initial speaker history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/history/latest": {
            "get": {
                "summary": "Get the latest history item for a speaker",
                "operationId": "getSpeakerLatestHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "speakerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The latest history item for the speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Latest speaker history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/history/{timestamp}": {
            "get": {
                "summary": "Get a specific history item for a speaker by timestamp",
                "operationId": "getSpeakerHistoryByTimestamp",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "speakerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerId"
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TimeMillis"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specific history item for the speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Speaker history item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/images": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                },
                {
                    "name": "speakerId",
                    "description": "The id of a speaker",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpeakerId"
                    }
                }
            ],
            "post": {
                "summary": "Upload an image for a speaker",
                "operationId": "uploadSpeakerImage",
                "parameters": [
                    {
                        "name": "x-image-alt-text",
                        "description": "alternate text for the image",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ImageAltText"
                        }
                    },
                    {
                        "name": "x-image-kind",
                        "description": "the type of speaker image",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerImageType"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ImageUpload"
                },
                "responses": {
                    "201": {
                        "description": "A speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "303": {
                        "description": "A link to an existing Speaker Image object",
                        "headers": {
                            "Location": {
                                "description": "Url to an existing resource",
                                "schema": {
                                    "$ref": "#/components/schemas/Link"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed `ImageUpload` payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Series or Speaker not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Returns a list of photos for a speaker",
                "operationId": "listSpeakerImage",
                "responses": {
                    "200": {
                        "description": "A list of speaker photos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageList"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/images/{imageId}": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                },
                {
                    "name": "speakerId",
                    "description": "The id of a speaker",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpeakerId"
                    }
                },
                {
                    "name": "imageId",
                    "description": "The id of the image",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/ImageId"
                    }
                }
            ],
            "get": {
                "summary": "Returns an photo for a speaker",
                "operationId": "getSpeakerImage",
                "responses": {
                    "200": {
                        "description": "A speaker photo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId` and `imageId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Replace a photo for a speaker",
                "operationId": "updateSpeakerImage",
                "parameters": [
                    {
                        "name": "x-image-alt-text",
                        "description": "alternate text for the image",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ImageAltText"
                        }
                    },
                    {
                        "name": "x-image-kind",
                        "description": "the type of speaker image",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SpeakerImageType"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ImageUpload"
                },
                "responses": {
                    "200": {
                        "description": "Updated Speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed `ImageUpload` payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a speaker photo",
                "operationId": "deleteSpeakerImage",
                "responses": {
                    "200": {
                        "description": "Updated Speaker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Speaker"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `speakerId` and `imageId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/speakers/{speakerId}/images/{imageId}/metadata": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                },
                {
                    "name": "speakerId",
                    "description": "The id of a speaker",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpeakerId"
                    }
                },
                {
                    "name": "imageId",
                    "description": "The id of the image",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/ImageId"
                    }
                }
            ],
            "put": {
                "summary": "Update image metadata for a speaker",
                "operationId": "updateSpeakerImageMetadata",
                "requestBody": {
                    "$ref": "#/components/requestBodies/ImageMetadataBody"
                },
                "responses": {
                    "200": {
                        "description": "A speaker image",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed metadata payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No speaker found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                }
            ],
            "post": {
                "summary": "Create a sponsor",
                "operationId": "createSponsor",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SponsorCreateBody"
                },
                "responses": {
                    "201": {
                        "description": "The new Sponsor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Sponsor"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed SponsorBody object payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "SeriesId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List of sponsors, optionally matching various query params",
                "operationId": "listSponsors",
                "parameters": [
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    },
                    {
                        "name": "sponsorType",
                        "description": "The sponsorType of the sponsor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorType"
                        }
                    },
                    {
                        "name": "name",
                        "description": "The name of the sponsor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorName"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of sponsors, optionally matching various query params",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SponsorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No sponsors found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SeriesId"
                    }
                },
                {
                    "name": "sponsorId",
                    "description": "The id of a sponsor",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SponsorId"
                    }
                }
            ],
            "get": {
                "summary": "Get a specific `Sponsor` by `sponsorId`",
                "operationId": "getSponsorById",
                "responses": {
                    "200": {
                        "description": "Sponsor that matched the `sponsorId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Sponsor"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `sponsorId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a specific `Sponsor` specified by `sponsorId`",
                "operationId": "updateSponsorById",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SponsorUpdateBody"
                },
                "responses": {
                    "200": {
                        "description": "Sponsor that matched the `sponsorId` was updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Sponsor"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No record found for the provided `sponsorId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The sponsor data is out of date. Re-fetch the sponsor and try the update again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific `Sponsor` specified by `sponsorId`",
                "operationId": "deleteSponsorById",
                "responses": {
                    "204": {
                        "description": "Sponsor was deleted"
                    },
                    "404": {
                        "description": "No record found for the provided `sponsorId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}/history": {
            "get": {
                "summary": "Get all history items for a sponsor",
                "operationId": "getSponsorHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "sponsorId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorId"
                        }
                    },
                    {
                        "name": "page-size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageSize"
                        }
                    },
                    {
                        "name": "next-page-token",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of history items for the sponsor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sponsor history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}/history/initial": {
            "get": {
                "summary": "Get the initial history item for a sponsor",
                "operationId": "getSponsorInitialHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "sponsorId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The initial history item for the sponsor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Initial sponsor history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}/history/latest": {
            "get": {
                "summary": "Get the latest history item for a sponsor",
                "operationId": "getSponsorLatestHistory",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "sponsorId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The latest history item for the sponsor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Latest sponsor history not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}/history/{timestamp}": {
            "get": {
                "summary": "Get a specific history item for a sponsor by timestamp",
                "operationId": "getSponsorHistoryByTimestamp",
                "parameters": [
                    {
                        "name": "seriesId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SeriesId"
                        }
                    },
                    {
                        "name": "sponsorId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SponsorId"
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TimeMillis"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specific history item for the sponsor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HistoryItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sponsor history item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/series/{seriesId}/sponsors/{sponsorId}/images": {
            "parameters": [
                {
                    "name": "seriesId",
                    "description": "The name of the series",
                    "in": "path",
                    "required": true,
[...]
